* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  min-height: 100%;
}

:root {
  --font-body: "Inter", sans-serif;
  --font-head: "Inter", sans-serif;
  --font-ui: "Inter", sans-serif;
  --font: "Inter", sans-serif;
}

body {
  background-color: #080c14;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
